body, html{
    background-image: linear-gradient(to bottom, #ffee00, #ffaa00);
    background-attachment: fixed;
}
p {
    background-color: #ffee00;
    border-color: #ffaa00;
    border-width: 0.05%;
}
.sidenav {
  height: 100%;
  width: 5%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #ffee00;
  overflow-x: hidden;
}
.sidenav a {
  color: #ffee00;
  padding: 16px;
  display: block;
}
.sidenav a:hover {
  background-color: #ffaa00;
  color: black;
}
.content {
  margin-left: 5%;
  padding-left: 0.5%;
}