:root{
    --margin:min(15vw,25px);
    --padding:min(2vw,10px);
    --yellow:#ffee00;
    --orange:#ffaa00;
}
body, html{
    background-image: linear-gradient(to bottom, var(--yellow), var(--orange));
    background-attachment: fixed;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    box-sizing: border-box;
}
p {
    background-color: var(--yellow);
}
.layout-container {
    display: grid;
    grid-template-columns: min(15vw, 150px) 1fr;
    grid-template-rows: auto 1fr;
    grid-template-areas: 
        "sidenav title"
        "sidenav content";
    gap: var(--margin);
    padding: var(--margin);
    height: 100vh;
}
.sidenav {
  grid-area: sidenav;
  background-color: var(--yellow);
  border: 1px solid var(--orange);
  overflow-x: hidden;
  overflow-y: auto;
}
.sidenav a {
  padding: var(--padding);
  display: block;
  color: var(--orange);
  text-decoration: none;
}
.sidenav a:hover {
  background-color: var(--orange);
  color: var(--yellow);
}
.title {
    grid-area: title;
    background-color: var(--yellow);
    border: 1px solid var(--orange);
    padding: 0 var(--padding);
    display: flex;
    align-items: center;
}
.content {
    grid-area: content;
    background-color: var(--yellow);
    border: 1px solid var(--orange);
    padding: var(--padding);
    overflow-y: auto;
}